/*Bandeau*/
@keyframes defilement_texte {
    from {left: 100%}
    to {left: 0; transform: translateX(-100%);}
}

#wpcollectivites-bandeau{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    overflow: hidden;
    z-index: 500;
}

.wpcollectivites-bandeau--texte{
    position: absolute;
    top: 0;
    white-space: nowrap;
    margin: 0;
    display: none;
    align-items: center;
    height: 100%;
    animation-name: defilement_texte;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*Popup*/
#wpcollectivites-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.25);
    z-index: 1000;
}

.wpcollectivites-popup--fermeture{
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 25px;
}

.wpcollectivites-popup--conteneur{
    position: relative;
    width: min(800px, calc(100vw - 40px));
    padding: 20px;
}
